@import './variables';

.about {

    .aboutHeader {
        color: $secondary-color;
        padding-bottom: 4vh;
    }

    .aboutDiv {
        .aboutImage {
            float: right;
            padding-left: 2vw;
        }

        .drawLine {
        position: absolute;
        left: 5vw;
        width: 90vw;
        height: 1px;
        background-color: $secondary-color;
    }

        .aboutContent {
            color: $secondary-color;
            padding-top: 5vh;
            text-align: justify;
        }
    }
}