@import './variables';

.contact {

    display: flex;

    * {
        color: $secondary-color;
    }

    .contactsText {
        flex: 1;
    }

    .drawLine {
        position: absolute;
        left: 5vw;
        width: 90vw;
        height: 1px;
        background-color: $secondary-color;
    }

    .contactsImage {
        flex: 1;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contactsLinkedin {
        .contactsLinkedinLabel {
            width: 25%;
            float: left;
        }
    }

    .contactsEmail {
        .contactsEmailLabel {
            width: 25%;
            float: left;
        }
    }



}