@import './variables';

.contact {

    display: flex;

    * {
        color: $secondary-color;
    }

    .contactsText {
        flex: 1;
    }

    .contactsImage {
        flex: 1;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contactsLinkedin {
        .contactsLinkedinLabel {
            width: 25%;
            float: left;
        }
    }

    .contactsEmail {
        .contactsEmailLabel {
            width: 25%;
            float: left;
        }
    }



}