@import './variables';

$bottom-margin: 5vh;

.etcetera {
    margin-left: 5vw;

    .drawLine {
        position: absolute;
        left: 5vw;
        width: 90vw;
        height: 1px;
        background-color: $secondary-color;
    }

    .etceteraImage {
        padding: 1.5vh 1.5vw 1.5vh 1.5vw;
    }
}