@import './variables';

.modelViewerDiv {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;

    model-viewer {
        position: relative;
        display: block;
        height: 90vh;
        width: 100vw;
        top: 0;
        left: 0;
        --primary-color: #{$model-color};

        .container {
            height: 100%;
        }
    }
}