@use "~bootstrap/scss/bootstrap";
@use './index';
@import './variables';

html,
#root {
    width: 100vw;
    height: 100vh;
    background-color: $primary-color;
    font-family: Arial, Helvetica, sans-serif;

    #root {
        padding-top: var(--nav-height);
    }

    h1 {
        color: $secondary-color;
        background-color: $primary-color;
    }

    nav {
        position: fixed;
        top: 0;
        width: 100%;
        height: fit-content;
        transition: transform 0.3s ease;
        z-index: 9999;
        padding-top: 4vh; /// logo
        padding-left: 2vw; /// logo
        background-color: $tertiary-color;

        .container {
            margin-left: 0;
        }

        @media (orientation: portrait) {
            background-color: $tertiary-color-solid;
        }

        .navbar-brand {
            height: calc(var(--nav-height) / 2);
            // transform: translateX(-10px);

            img {
                height: calc(var(--nav-height) / 2);
            }
        }

        * {
            color: $secondary-color;
        }

        .nav-link {
            flex: 0 0 auto;
            user-select: none;
            margin-left: 1vw; ///
        }

        .nav-item {
            text-decoration: none;

            .dropdown-menu {
                background-color: $tertiary-color;
                max-height: 100vh;
                overflow-y: scroll;
                scrollbar-width: thin;

                .dropdown-item {
                    color: $secondary-color;
                }
            }
        }
    }

    nav.hide {
        transform: translateY(-100%);
    }

    #routeContainer {
        max-width: none;
        padding-left: 0;
        padding-right: 0;
    }
}