@import './variables';

$bottom-margin: 5vh;

.arrowWrapper {
    position: relative;

    .arrows {
        display: flex;
        flex-direction: column;
        position: fixed;
        right: 5%;
        bottom: 4em;

    }

    .potpourri {
        margin-left: 3vw;

        .drawLine {
            position: absolute;
            left: 2.7vw;
            width: 70rem;
            height: 1px;
            background-color: $secondary-color;
        }

        .potpourriImage {
            margin: 0;
            padding: 1.5vh 1.5vw;
            vertical-align: top;
            height: 18rem;
        }
    }
}