@import './variables';

.projects {
    display: flex;

    .projectNames {
        width: 25%;
        flex: .25;
        margin-top: 10vh;
        position: sticky;
        top: 2vh;
        align-self: flex-start;

        @media (orientation: portrait) {
            display: none;
        }

        .projectLink {
            text-decoration: none;
            color: $secondary-color;
            display: block;
            padding-top: 1vh;
        }
    }

    .projectsDisplay {
        flex: .75;

        .drawLine {
            width: 100%;
            height: 1px;
            background-color: $secondary-color;
            margin-bottom: 5vh;
        }

        .projectsDisplayContainer {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1vw;

            .projectImageLink {
                height: 33vh;

                img {
                    height: inherit;
                    width: inherit;

                    filter: grayscale(100%);
                    transition: filter 0.5s ease;
                }

                img:hover {
                    filter: grayscale(0%);
                }
            }
        }
    }
}