@import './variables';

.arrowWrapper {
    position: relative;

    .arrows {
        display: flex;
        flex-direction: column;
        position: fixed;
        right: 5%;
        bottom: 4em;

    }

    .projects {
        display: flex;
        width: 100%;
        box-sizing: border-box;
        max-width: 100vw;

        .projectNames {
            flex: 0 5rem;
            width: max-content;
            text-align: right;
            margin-right: 20rem;

            @media (orientation: portrait) {
                display: none;
            }

            .projectLink {
                text-decoration: none;
                color: $secondary-color;
                display: block;
                padding-top: 1vh;
            }
        }

        .projectsDisplay {
            flex: .6;

            .drawLine {
                width: 100%;
                height: 1px;
                background-color: $secondary-color;
                margin-bottom: 5vh;
            }

            .projectsDisplayContainer {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 5vw;

                .projectImageLink {
                    height: 33vh;

                    img {
                        height: inherit;
                        width: inherit;

                        filter: grayscale(100%);
                        transition: filter 0.5s ease;
                    }

                    img:hover {
                        filter: grayscale(0%);
                    }
                }

                .projectImageLink:nth-child(odd) {
                    justify-self: start;
                    margin-right: -10%;
                }

                .projectImageLink:nth-child(2),
                .projectImageLink:nth-child(8) {
                    justify-self: end;
                }

                .projectImageLink:nth-child(4),
                .projectImageLink:nth-child(6) {
                    justify-self: center;
                }
            }
        }
    }
}