$primary-color: rgb(89, 89, 97);
$model-color: rgb(89, 89, 97);
$secondary-color: #dfdedf;
$tertiary-color: rgba(89, 89, 97, .5);
$tertiary-color-solid: rgba(89, 89, 97, 1);
$text-off-focus-color: #dfdedf;