$primary-color: rgb(92, 90, 101);
$model-color: rgb(92, 90, 101);
$secondary-color: #ffffff;
$tertiary-color: rgba(92, 90, 101, .5);
$tertiary-color-solid: rgba(92, 90, 101, 1);
$text-off-focus-color: #ffffff;