$primary-color: #0d6efd;

body {
  background-color: #f8f9fa;
}

h1 {
  color: $primary-color;
  font-family: 'Segoe UI', sans-serif;
}

.yarl__root {
  background: #00000059 !important;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.yarl__container {
  background: transparent !important;
}